{
    "openapi": "3.0.0",
    "info": {
      "title": "User API",
      "version": "1.0.0",
      "description": "Foydalanuvchilar uchun API hujjati"
    },
    "servers": [
      {
        "url": "https://blog-api.innerlogic.cloud/",
        "description": "Local Development"
      }
    ],
    "paths": {
        "/auth/users": {
            "get": {
                "summary": "Get all users",
                "tags": ["User"],
                "responses": {
                    "200": {
                        "description": "Users fetched successfully"
                    }
                }
            }
        },
        "/auth/create": {
            "post": {
                "summary": "Create a new user",
                "tags": ["User"],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "email": { "type": "string" },
                                    "password": { "type": "string" },
                                    "username": { "type": "string" },
                                    "fullName": { "type": "string" }
                                },
                                "required": ["email", "password"]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "User created successfully"
                    }
                }
            }
        },
        "/auth/delete/{id}": {
            "delete": {
                "summary": "Delete a user",
                "tags": ["User"],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User deleted successfully"
                    },
                    "404": {
                        "description": "User not found"
                    }
                }
            }
        },
        "/auth/login": {
            "post": {
                "summary": "User login",
                "tags": ["User"],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "email": { "type": "string" },
                                    "password": { "type": "string" }
                                },
                                "required": ["email", "password"]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "User logged in successfully"
                    },
                    "401": {
                        "description": "Invalid credentials"
                    }
                }
            }
        },
        "/auth/profile": {
            "get": {
                "summary": "Get user profile",
                "tags": ["User"],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User profile fetched successfully"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        }
    }
  }